.header {
  height: 140px;
  display: flex;align-items: center;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .burger {
      display: none;
    }
    .account {
      button {
        margin: 0 5px;
      }
    }
  }
}