$default-font: "Segoe", sans-serif;
$text: #000000;
$text-white: #ffffff;
$radius: 15px;
$box-shadow: 0px 3px 6px #00000026;
//colours
$yellow: #f89c24;
$green: #00c493;
$blue: #33a5e8;
$red: #d13030;
$violet: #d22bd8;
